{
  "env": {
    "node": true
  },
  "extends": [
    "@codeyourfuture/standard"
  ],
  "overrides": [
    {
      "extends": [
        "plugin:jest/recommended"
      ],
      "files": [
        "**/*.test.js"
      ],
      "rules": {
        "jest/expect-expect": "off"
      }
    }
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2]
  }
}
