{
  "env": {
    "node": true
  },
  "extends": [
    "@codeyourfuture/standard",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "extends": ["plugin:jest/recommended"],
      "files": ["**/*.test.js", "**/*.test.ts"],
      "rules": {
        "jest/expect-expect": [
          "error",
          { "assertFunctionNames": ["expect", "request.**.expect"] }
        ]
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}
