{
  "env": {
    "node": true
  },
  "extends": [
    "@codeyourfuture/standard",
    "plugin:@typescript-eslint/recommended"
  ],
  "overrides": [
    {
      "extends": ["plugin:jest/recommended"],
      "files": ["**/*.test.js", "**/*.test.ts"],
      "rules": {
        "jest/expect-expect": [
          "error",
          { "assertFunctionNames": ["expect", "request.**.expect"] }
        ],
        "jest/no-commented-out-tests": "error",
        "jest/no-disabled-tests": "error"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
